
.bg{
    height: 100vh;
}

.contactform{

    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.contactform label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.contactform input, 
.contactform textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}


.contactform textarea {
    min-height: 100px;
    resize: vertical;
}

.contactform button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.contactform button:hover {
    background-color: #0056b3;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
     font-family: Arial, sans-serif;
     background: lightblue;

}
.bg{
    background: lightblue;
}
.linked{
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
    gap: 20px;
}
.linked:hover{
     color: gray;
}
.linked2:hover{
    color: #007bff;
}